<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LEADSENSE</title>
    <!-- Test342-->
    {% include 'header.html' %}

    <style type="text/css">
    .dashboardSessionsTable {
        width: 100%;
        height: 25vh;
    }

    .dashboardSessionsTable tr {
        border-bottom: 1px solid grey;
    }

    .dashboardSessionsTable .fa-angle-up {
        color: #e74c3c;
    }

    .dashboardSessionsTable .fa-angle-down {
        color: #2ecc71;
    }

    .btnLeadSense {
        background-color: #02b4b4;
        color: #fff;
        border-radius: 25px;
        border-color: #0000;
    }

    #welcomeText {
        font-size: 30px;
        color: #a6a8a7;
        font-style: bold;
    }



    #threeChartsSection {
        margin-top: -6%;
    }

    #topNworstRow {
        margin-bottom: 10px;
    }
    </style>
    {% include 'sidebar.html' %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header topSection">
            <div class="row">
                <div class="col-md-4">
                    <p id="welcomeText">Good Morning, Rohith!</p>
                </div>
                <div class="col-md-4 text-center">
                    <a class="topNworst topsuccess" href="#">Top Performing</a>
                    <a class="topNworst toperror" href="#">Worst Performing</a>
                </div>
                <div class="col-md-4 text-right">
                    <a class="btn btn-default btn-sm btnLeadSense" href="#"><i class="fa fa-cog"></i> Customize</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="chart">
                        <canvas id="mainAreaChart" height="250"></canvas>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
        </section>
        <section class="content container-fluid" id="threeChartsSection">
            <div class="row">
                <div class="col-md-4">
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">Clicks</h3>
                        </div>
                        <div class="box-body">
                            <div class="chart">
                                <canvas id="areaChart" width="500" height="250"></canvas>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">Cost per Conversion</h3>
                        </div>
                        <div class="box-body">
                            <div class="chart">
                                <canvas id="bubbleChart" width="500" height="250"></canvas>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">Clicks</h3>
                        </div>
                        <div class="box-body">
                            <div class="chart">
                                <canvas id="barChart" width="500" height="250"></canvas>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Main content -->
        <section class="content container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">Keyword Ranking</h3>
                        </div>
                        <div class="box-body">
                            <table class="dashboardSessionsTable">
                                <tr>
                                    <td>1.</td>
                                    <td>Advanced Driver Assistance System</td>
                                    <td>45</td>
                                    <td><i class="fa fa-angle-up"></i></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Specialty Chemicals</td>
                                    <td>26</td>
                                    <td><i class="fa fa-angle-down"></i></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>LED Lighting</td>
                                    <td>20</td>
                                    <td><i class="fa fa-angle-up"></i></td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Cardiac Monitoring</td>
                                    <td>18</td>
                                    <td><i class="fa fa-angle-down"></i></td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td>Abrasives</td>
                                    <td>15</td>
                                    <td><i class="fa fa-angle-up"></i></td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">Sessions</h3>
                        </div>
                        <div class="box-body">
                            <table class="dashboardSessionsTable">
                                <tr>
                                    <td>1.</td>
                                    <td>Advanced Driver Assistance System</td>
                                    <td>45</td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Specialty Chemicals</td>
                                    <td>26</td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>LED Lighting</td>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Cardiac Monitoring</td>
                                    <td>18</td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td>Abrasives</td>
                                    <td>15</td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {% include 'footer.html' %}
    <script type="text/javascript">
    
    $(function() {
        

        var ctx = document.getElementById("barChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["01:00", "02:00", "03:00", "04:00", "05:00", "06:00", "07:00", "08:00", "09:00", "10:00", "11:00", "12:00"],
                datasets: [{
                    label: 'Clicks',
                    data: [12, 19, 3, 5, 2, 3, 12, 11, 16, 5, 14, 3],
                    backgroundColor: "#3498db",

                    borderWidth: 1
                }]
            },
            options: {
                legend: {
                    display: false,
                    labels: {
                        fontColor: '#a6a8a7'
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            fontColor: "#a6a8a7"
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontColor: "#a6a8a7"
                        },
                    }]
                }
            }
        });

        var popData = {
            datasets: [{
                label: ['Cost Per Conversion'],
                data: [{
                    x: 100,
                    y: 0,
                    r: 10
                }, {
                    x: 60,
                    y: 30,
                    r: 20
                }, {
                    x: 40,
                    y: 60,
                    r: 25
                }, {
                    x: 80,
                    y: 80,
                    r: 30
                }, {
                    x: 20,
                    y: 30,
                    r: 25
                }, {
                    x: 0,
                    y: 100,
                    r: 5
                }],
                backgroundColor: "#1abc9c"
            }]
        };


        // For a bubble chart
        var ctx2 = document.getElementById("bubbleChart").getContext('2d');
        var myBubbleChart = new Chart(ctx2, {
            type: 'bubble',
            data: popData,
            options: {
                legend: {
                    display: false,
                    labels: {
                        fontColor: '#a6a8a7'
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            fontColor: "#a6a8a7"
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontColor: "#a6a8a7"
                        },
                    }]
                }
            }
        });

    });

    //var area chart
    var ctx = document.getElementById('areaChart').getContext('2d');
    var gradientFill = ctx.createLinearGradient(500, 0, 100, 0);
    gradientFill.addColorStop(0, "rgba(33, 29, 29, 0.6)");
    gradientFill.addColorStop(1, "rgba(209, 31, 52, 0.8)");

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['M', 'T', 'W', 'T', 'F', 'S', 'S'],
            datasets: [{
                label: 'Clicks',
                borderColor: "#f96331",
                pointBorderColor: "#f96331",
                pointBackgroundColor: "#fff",
                pointHoverBackgroundColor: "#f96331",
                pointHoverBorderColor: "#f96331",
                data: [12, 19, 3, 17, 6, 3, 7],
                backgroundColor: gradientFill
            }]
        },
        options: {
            legend: {
                display: false,
                labels: {
                    fontColor: '#a6a8a7'
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        fontColor: "#a6a8a7"
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontColor: "#a6a8a7"
                    },
                }]
            }
        }
    });

    //var main area chart
    var ctx = document.getElementById('mainAreaChart').getContext('2d');
    var gradientFill2 = ctx.createLinearGradient(100, 0, 100, 200);
    gradientFill2.addColorStop(0, "rgba(255,255,255,1)");
    gradientFill2.addColorStop(1, "rgba(128,128,128,0.1)");

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
            datasets: [{
                label: 'Clicks',
                borderColor: "#fff",
                pointBorderColor: "#fff",
                pointBackgroundColor: "#0e2746",
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderColor: "#fff",
                data: [5, 8, 6, 9, 13, 15, 11, 11, 14, 15, 12, 11, 8],
                backgroundColor: gradientFill2
            }]
        },
        options: {
            legend: {
                display: false,
                labels: {
                    fontColor: '#a6a8a7'
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        fontColor: "#a6a8a7"
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontColor: "#a6a8a7"
                    },
                }]
            }
        }
    });

    var today = new Date()
    var curHr = today.getHours()

    if (curHr < 12) {
        console.log('good morning');
        $("#welcomeText").text("Good Morning, Rohith!");
    } else if (curHr < 16) {
        console.log('good afternoon');
        $("#welcomeText").text("Good Afternoon, Rohith!");
    } else {
        console.log('good evening');
        $("#welcomeText").text("Good Evening, Rohith!");
    }
    </script>
    </body>

</html>