<body class="hold-transition skin-black sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>LS</b></span>
      <!-- logo for regular state and mobile devices -->
      <!-- <div id="leadSenseLogo">LS</div> -->
      <span class="logo-lg">LEADSENSE</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav"> 
          
           <li>
            <a href="#" data-toggle="control-sidebar">
              <!-- <span class="fa-stack">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-info fa-stack-1x"></i>
              </span> -->
            <i class="fa fa-info"></i>
            </a>
          </li>

          <li class="hidden-xs">
            <input type="text" name="search" placeholder="Search..." class="customSearchBox">
          </li>


          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-user-o"></i></a>
          </li>

          <!-- Notifications Menu -->
          <li class="dropdown notifications-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <!-- <span class="label label-warning">10</span> -->
            </a>
    
          </li>

          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-cog"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        
        <!-- Optionally, you can add icons to the links -->
        
    
        <li class="active"><a href="/"><img src="{{ url_for('static',filename='dist/img/monitor.svg') }}" class="genesisIcons"> <span>DASHBOARD</span></a></li>
        <li><a href="#"><img src="{{ url_for('static',filename='dist/img/bar-chart.svg') }}" class="genesisIcons"> <span>ANALYTICS</span></a></li>
        <li><a href="paidmarketing"><img src="{{ url_for('static',filename='dist/img/network.svg') }}" class="genesisIcons"> <span>PAID MARKETING</span></a></li>
        <li><a href="seo"><img src="{{ url_for('static',filename='dist/img/analysis.svg') }}" class="genesisIcons"> <span>SEO</span></a></li>
        <li><a href="#"><img src="{{ url_for('static',filename='dist/img/content.svg') }}" class="genesisIcons"> <span>CONTENT</span></a></li>
        <li><a href="#"><img src="{{ url_for('static',filename='dist/img/ninja.svg') }}" class="genesisIcons"> <span>LEAD NINJA</span></a></li>
<!-- 
        <li class="settingsButtonDownLeft">
            <a href="#"><i class="fa fa-gears genesisIcons"></i><span>Settings</span></a>
          </li> -->
      
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>